@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply font-bold py-2 px-4 rounded;
}
.btn-blue {
  @apply bg-blue-500 text-white;
}
.btn-blue:active {
  @apply bg-blue-700;
}

.mask{
  background-color: rgba(0,0,0, 0.5);
}

.main-video {
  object-fit: cover;
}
.main-img {
  object-fit: cover;
}

.file-input {
  display: none;
}